<div class="grid" style="margin-left: 4%;">
  <div class="col-12" style="display: flex;justify-content:center;">
    <div class="card" style="border: 1px solid black; width: 1100px;">
      <p-table #dt [value]="users"  responsiveLayout="scroll" [rows]="5"  [paginator]="true" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
      [globalFilterFields]="['name', 'email', 'role']">
        <ng-template pTemplate="caption" [style]="{width:'1100px'}">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" [(ngModel)]="userName" placeholder="Recherche"  class="w-full sm:w-auto" (input)="formService.filter(dt, $event)"/>
            </span>
            <button pButton pRipple class="p-button-success" (click)="showAddUserModalDialog()" icon="pi pi-user-plus" label="{{addUserString}}"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>
              Photo
            </th>
            <th >Name
            </th>
            <th >Email
            </th>
            <th >
              role
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <span class="p-column-title">Image</span>
              <img [src]="user.photo" [alt]="user.name" style="width: 50px; height: 50px;" class="shadow-4" />
            </td>
            <td>
              <span class="p-column-title">Name</span>
              {{user.name}}
            </td>
            <td>
              <span class="p-column-title">Email</span>
              {{user.email}}
            </td>
            <td>
              <span class="p-column-title">role</span>
              {{user.role}}
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple pTooltip="Modifier" icon="pi pi-pencil" class="p-button p-button-primary mr-4" (click)="showEditUserModalDialog(user)"></button>
                <button pButton pRipple pTooltip="Supprimer" icon="pi pi-trash" class="p-button p-button-danger" (click)="deleteUser(user)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog [(visible)]="displayAddUserModal" [modal]="true" [style]="{width: '30vw'}" class="p-fluid"
          [draggable]="false" [resizable]="false" [closable]="false">
  <ng-template pTemplate="body">
    <div class=" card  mt-2">
      <div class="field">
        <input type="text" pInputText [(ngModel)]="name" id="name" name="name" placeholder="Nom"/>
        <small class="p-error block" *ngIf="name==null || name.replaceAll(' ','')==''">Obligatoire</small>
      </div>
      <div class="field">
        <input type="text" pInputText [(ngModel)]="email" id="email" name="email" placeholder="Email"/>
        <small class="p-error block" *ngIf="email==null || email.replaceAll(' ','')==''">Obligatoire</small>
      </div>
      <div class="field">
        <p-password [(ngModel)]="password" id="password" name="password" [toggleMask] ="true" aria-placeholder="Mot de passe"></p-password>
        <small class="p-error block" *ngIf="password==null || password.replaceAll(' ','')==''">Obligatoire</small>
        <small class="p-error block" *ngIf="password?.search(' ')!=-1">Ne doit pas contenir d'espace</small>
      </div>
      <div class="field">
        <p-selectButton id="role"  [options]="stateOptions" [(ngModel)]="role" optionLabel="label" optionValue="value" name="role" aria-placeholder="Role"></p-selectButton>
        <small class="p-error block" *ngIf="role==null">Obligatoire</small>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Annuler" class="p-button-text" (click)="cancelModal('addModal')" style="color: red;"></button>
    <p-button [disabled]="isDisableAddUserForm()" label="Créer" styleClass="p-button-text" (click)="addNewUser()"></p-button>
  </ng-template>
</p-dialog>

<!--Boite de dialogue pour la modification d'un utilisateur-->
<p-dialog [(visible)]="displayEditUserModal" [modal]="true" [style]="{width: '30vw'}" class="p-fluid"
          [draggable]="false" [resizable]="false" [closable]="false">
  <ng-template pTemplate="body">
    <div class=" card  mt-2">
      <div class="field">
        <input type="text" pInputText [(ngModel)]="userToEdit.name" id="editName" name="name" placeholder="Nom"/>
        <small class="p-error block" *ngIf="userToEdit.name==null || userToEdit.name.replaceAll(' ','')==''">Obligatoire</small>
      </div>
      <div class="field">
        <input type="text" pInputText [(ngModel)]="userToEdit.email" id="editEmail" name="email" placeholder="Email"/>
        <small class="p-error block" *ngIf="userToEdit.email==null || userToEdit.email.replaceAll(' ','')==''">Obligatoire</small>
      </div>
      <div class="field">
        <p-password [(ngModel)]="editedPassword"  id="editedPassword" name="editedPassword" [toggleMask] ="true" aria-placeholder="Mot de passe"></p-password>
      </div>
      <div class="field">
        <p-selectButton id="editRole"  [options]="stateOptions" [(ngModel)]="userToEdit.role" optionLabel="label" optionValue="value" name="role"></p-selectButton>
        <small class="p-error block" *ngIf="userToEdit.role==null">Obligatoire</small>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Annuler" class="p-button-text" (click)="cancelModal('editModal')" style="color: red;"></button>
    <p-button [disabled]="isDisableEditUserForm()" label="Modifier" styleClass="p-button-text" (click)="saveEditUser()"></p-button>
  </ng-template>
</p-dialog>

<!--Boite de dialogue pour la suppression d'un utilisateur-->
<p-dialog [(visible)]="displayDeleteUserModal" [modal]="true" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <span *ngIf="userToDelete" style="color: red;font-weight:bold;">Voulez-vous supprimer ?</span>
  </div>
  <ng-template pTemplate="footer">
    <div style="display: flex; justify-content: center; align-items: center;">
      <button pButton pRipple class="p-button-text" label="Non" (click)="closeDeleteModal()"></button>
      <button pButton pRipple class="p-button-text p-button-danger" label="Oui" (click)="confirmDeleteUser()"></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayModalNotification" [modal]="true" [closable]="false" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <span *ngIf="message" class="green">{{message}}</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple class="p-button-text" label="OK" (click)="closeModalModification()"></button>
  </ng-template>
</p-dialog>

