<p-dialog [(visible)]="modalDisplayed" [modal]="true" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <span *ngIf="assignmentToDelete" style="color: tomato;font-weight:bold;">Êtes vous sûr de vouloir supprimer ?</span>
  </div>
  <ng-template pTemplate="footer">
    <div style="display: flex; justify-content: center; align-items: center;">
      <button pButton pRipple class="p-button-text " label="Non" (click)="cancelDelete()"></button>
      <button pButton pRipple class="p-button-text p-button-danger " label="Oui" (click)="confirmDelete()"></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="this.authService.displayModalAuthorization" [modal]="true" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <span *ngIf="message" class="red">{{message}}</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple class="p-button-text" label="OK" (click)="this.authService.closeModalAuthorization()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayModalDeletion" [modal]="true" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <span *ngIf="message" class="green">{{message}}</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple class="p-button-text" label="OK" (click)="closeModeDeletion()"></button>
  </ng-template>
</p-dialog>



